<section class="hero-section">
  <div class="hero-section__wrapper">
    <div class="hero-section__wrapper--left-container">
      <div class="hero-section__wrapper--image"></div>
      <div class="hero-section__wrapper--left">
        <h1>The Bright Future of Web 3.0?</h1>
        <div class="hero-section__wrapper--left-text">
          <p>
            We dive into the next evolution of the web that claims to put the
            power of the platforms back into the hands of the people. But is it
            really fulfilling its promise?
          </p>
          <a>Read More</a>
        </div>
      </div>
    </div>

    <div class="hero-section__wrapper--right-container">
      <div class="hero-section__wrapper--right">
        <h2>New</h2>
        <h3>Hydrogen VS Electric Cars</h3>
        <p>Will hydrogen-fueled cars ever catch up to EVs?</p>
        <hr />
        <h3>The Downsides of AI Artistry</h3>
        <p>
          What are the possible adverse effects of on-demand AI image
          generation?
        </p>
        <hr />
        <h3>Is VC Funding Drying Up?</h3>
        <p>
          Private funding by VC firms is down 50% YOY. We take a look at what
          that means.
        </p>
      </div>
    </div>
  </div>
</section>
